.shadow-class {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow-md {
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.04);
}

.box-shadow-nav {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

.custom-shape {
  position: absolute;
  top: 55px;
  left: 0;
  width: 153px;
  height: 109px;
  background-color: #000;
  border: 2px solid #fdbf48;
  border-radius: 20px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.food-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 9;
}

/* Sidebar */
.sidebar > div {
  border-radius: 0 !important;
}

/* navbar_side */

nav[title="navbar_side"] > div {
  padding: 0 !important;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  @apply appearance-none;
}

.no-spinner {
  @apply appearance-none;
  -moz-appearance: textfield; /* Firefox uchun */
}

#adminCard > div {
  justify-content: start !important;
}

#sidebarLink > li> a> span {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}
